@import "tailwindcss";


@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@400;500;600&family=Dancing+Script:wght@600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-body: "Poppins", sans-serif;
  --font-heading: "Playfair Display", serif;
  --font-logo: "Dancing Script", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

.brand-logo {
  font-family: var(--font-logo);
}
